volumes:
  database-data:
    driver: local
    name: pg-voice-memo
  minio-data: 
    driver: local
    name: minio-voice-memo
  openobserve-data:
    driver: local
    name: openobserve-voice-memo  
networks:
  node-app:
    name: voice-memo
  global-net:
    external: true

services:
  minio:
    image: minio/minio
    container_name: voice-memo-minio
    restart: always
    environment:
      MINIO_ROOT_USER: ${MINIO_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY}
    command: server /data --console-address ":9001"
    networks:
      - node-app
    volumes:
      - minio-data:/data
  openobserve:
    image: public.ecr.aws/zinclabs/openobserve:latest
    container_name: openobserve
    restart: unless-stopped
    networks:
      - node-app
      - global-net
    volumes:
      - openobserve-data:/data
    environment:
      - ZO_DATA_DIR=/data
      - ZO_ROOT_USER_EMAIL=${OBS_EMAIL}
      - ZO_ROOT_USER_PASSWORD=${OBS_PASSWORD}
  db:
    image: postgres:16.6
    restart: always
    container_name: voice-memo-postgres
    environment:
      POSTGRES_USER: admin 
      POSTGRES_DB: voice_memo
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    networks:
      - node-app
    volumes:
      - database-data:/var/lib/postgresql/data
    labels:
      - docker-volume-backup.stop-during-backup=true
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d voice_memo"]
      interval: 5s
      timeout: 5s
      retries: 5
  redis:
    image: redis:alpine
    container_name: voice-memo-redis
    networks:
      - node-app
  migrator:
    image: ${IMAGE_NAME}:migrator
    container_name: voice-memo-migrator
    command: npx prisma db push
    environment:
      DATABASE_URL: ${DATABASE_URL} 
    depends_on:
      db:
        condition: service_healthy
    networks:
      - node-app
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: ${IMAGE_NAME}:${VERSION}
    container_name: voice-memo
    environment:
      NODE_ENV: production
      PORT: 3333
      
      DATABASE_URL: ${DATABASE_URL}
      API_KEY: ${API_KEY}
      JWT_SECRET: ${JWT_SECRET}
      
      # Jwt
      JWT_EXPIRES_IN: 604800
      SALT_RESULT: 10
      
      # MinIO
      MINIO_HOST: "minio"
      MINIO_PORT: 9000
      MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY}
      MINIO_SECRET_KEY: ${MINIO_SECRET_KEY}
      MINIO_EXTERNAL_HOST: ${MINIO_EXTERNAL_HOST}
      
      # Google
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      GOOGLE_REDIRECT_URI: ${GOOGLE_REDIRECT_URI}
      CORS_ORIGIN: ${CORS_ORIGIN}

      # Openobserve
      OTLP_AUTH_HEADER: ${OTLP_AUTH_HEADER}
      OTLP_URL: "http://openobserve:5080/api/default/v1/traces"
      OTLP_SERVICE_NAME: "voice-memo-backend"
      
      # Mail
      MAIL_HOST : ${MAIL_HOST}
      MAIL_USER : ${MAIL_USER}
      MAIL_PASS : ${MAIL_PASS}
      MAIL_PORT : ${MAIL_PORT:-587}
      MAIL_SECURE : ${MAIL_SECURE:-false}
      MAIL_FROM : ${MAIL_FROM}

      # MQ
      MQ_HOST: ${MQ_HOST}
      MQ_PORT: ${MQ_PORT}

    depends_on:
      migrator:
        condition: service_completed_successfully
      db:
        condition: service_healthy
    networks:
      - node-app
      - global-net
    restart: always
