volumes:
  database-data:
    driver: local
  minio-data: 
    driver: local
    
networks:
  node-app:
services:
  minio:
    image: minio/minio
    container_name: minio
    restart: always
    ports:
      - "127.0.0.1:${MINIO_FIRST_PORT}:${MINIO_FIRST_PORT}"
      - "127.0.0.1:${MINIO_SECONDARY_PORT}:${MINIO_SECONDARY_PORT}"
    environment:
      MINIO_ROOT_USER: ${MINIO_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY}
    command: server /data --console-address ":${MINIO_SECONDARY_PORT}"
    networks:
      - node-app
    volumes:
      - minio-data:/data
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: ${IMAGE_NAME}:${VERSION}
    container_name: voice-memo
    # depends_on:
    #   - db
    ports:
      - ${APP_PORT}:${APP_PORT}
    networks:
      - node-app
    restart: always